# 'Homegrown_Week_2_CCC'

## Variables and types

In [ ]:
#Assign an `int` to a variable with name `x` and print its type.
x = int(1)       # x is of type int
print(x)
print(type(x))

1
<class 'int'>

In [ ]:
#Assign a new value with `string` type to the same variable `x` and print its type.
y = str(1)       # x is of type string
print(y)
print(type(y))

1
<class 'str'>

In [ ]:
#Print the value of a variable that has not been defined, see what error do you get:
print(type(undefined))

NameError: ignored

## Operators and comparisons

In [ ]:
#Print the sum, difference, multiplication, and division between `1` and `2`.
a = float(1+2)
b = float(1-2)
c = float(1*2)
d = float(1/2)
print(a)
print(b)
print(c)
print(d)

3.0
-1.0
2.0
0.5

In [ ]:
#Carry out Integer division of two float numbers.
IntergerDivision = 36//5
print(IntergerDivision)

7

In [ ]:
#What is the value of `2` Power `15`?
Power = 2**15
print(Power)

32768

In [ ]:
#Compare two boolean `True` and `False`
True > False

True

In [ ]:
#Use `False` to get `True`
False < True

True

In [ ]:
#Include both `False` and `True` in your code to get `True`
True != False

True

In [ ]:
#Use two different ways: `==` and `is` to check if `l1` and `l2` is identical.
l1 = [1, 2]
l2 = [1, 2.0]
print(l1 == l2)
print(l1 is l2)

True
False

## Strings

In [ ]:
#Create three string variables, and use one `print` to display all three variables.
a = 'happy'
b = 'day'
c = 'today'
print(a,b,c)

happy day today

In [ ]:
#Check the length of "Hello world!".
a = 'Hello World!'
len(a)

12

In [ ]:
#Get the index `0`character in a string.
a = "Hello World!"
index_0 = a[0]
print(index_0)

H

In [ ]:
#Get the first 3 characters in a string.
a = "Hello World!"
Char_3 = a[0:3]
print(Char_3)

Hel

In [ ]:
#Use a start index and a stop index to get the fifth character in a string.
s = "Red Ventures"
Fifth = s[4:5]
print(Fifth)

V

In [ ]:
#Get the last character in a string.
s = "Charlotte"
Fifth = s[len(s)-1]
print(Fifth)

s

In [ ]:
#Print out the following strings:
print('\t Everything is written in pencil')
print('Everything is written \nin pencil.')
print('Everything \ is written \ in pencil.')
print('Red Ventures brands, just list a few:\n   * Bankrate\n   * Reviews.com\n   * the Points Guy\n   * creditcards.com')

	 Everything is written in pencil
Everything is written
in pencil.
Everything \ is written \ in pencil.
Red Ventures brands, just list a few:
   * Bankrate
   * Reviews.com
   * the Points Guy
   * creditcards.com

In [ ]:
#Convert all letters to lower cases.
s = 'RED FISH'
Lower_S = s.lower()
print(Lower_S)

red fish

In [ ]:
#Check if string starts with `r`
s = 'Run Up Escalators'
StartLetter = s[0].lower()
StartLetter == 'r'

True

In [ ]:
#Find the index of the single quote."
s = "You don't have to lie."
quoteindex = s.index("'")
print(quoteindex)

7

In [ ]:
#Cast variable `z` to `int` and print its type."
z = int(0)
print(type(z))

<class 'int'>

In [ ]:
#"Are the types of 1 + 2 and 1.0 + 2 the same?"
x = 1 + 2
y = 1.0 + 2
print(type(x))
print(type(y))
type(x) == type(y)

<class 'int'>
<class 'float'>

False

In [ ]:
#Add num_int and num_str, you should provide two outputs. One is a string and the other is an int.
num_int = 123
num_str = "456"
num_int_Final = num_int + int(num_str)
num_str_Final = str(num_int + int(num_str))
print(" num_str_Final", num_str_Final, type(num_str_Final),'\n',"num_int_Final", num_int_Final,type(num_int_Final))

 num_str_Final 579 <class 'str'>
 num_int_Final 579 <class 'int'>

In [ ]:
#What happens if you cast `-1` to a boolean?
X = bool(-1)
print(X)

True

## Standard Library

In [ ]:
#Import math module and calculate $e^4$.
import math
e_math= pow(math.e, x)
print(e_math)

20.085536923187664

In [ ]:
#Calculate the value of $log_2(8)$.
mathlog= math.log(2,8)
print(mathlog)

0.33333333333333337

In [ ]:
#Calculate the value of $\sqrt{100}$.
sqrt = math.sqrt(100)
print(sqrt)

10.0

## List

In [ ]:
### 1. Fill the ___ parts of code below
# Let's create an empty list
my_list = []

# Let's add some values
my_list.append('Python')
my_list.append('is ok')
my_list.append('sometimes')

# Let's remove 'sometimes'
my_list.remove('sometimes')

# Let's change the second item
my_list[1] = 'is neat'

print(my_list)
assert my_list == ['Python', 'is neat']

['Python', 'is neat']

In [ ]:
# 2. Create a new list without modifying the original one
original = ['I', 'am', 'learning', 'hacking', 'in']

New_List = list(original)

New_List[3] = "lists"
New_List.append("Python")

print(original)
print(New_List)
assert original == ['I', 'am', 'learning', 'hacking', 'in']
assert New_List == ['I', 'am', 'learning', 'lists', 'in', 'Python']

['I', 'am', 'learning', 'hacking', 'in']
['I', 'am', 'learning', 'lists', 'in', 'Python']

In [ ]:
# 3. Create a merged sorted list
list1 = [6, 12, 5]
list2 = [6.2, 0, 14, 1]
list3 = [0.9]
merged_list = list1 + list2 + list3
merged_list.sort(reverse=True)
print(merged_list)
assert merged_list == [14, 12, 6.2, 6, 5, 1, 0.9, 0]

[14, 12, 6.2, 6, 5, 1, 0.9, 0]

In [ ]:
from ast import If
#Loop through a list and check:
#* If an item is a float, cast the float to int.
#* If an item is an int, cast the int to float
#* Hint: use isinstance()

loop_list1 = [1101, 704.971, 'Fort Mill']
new_list = []

for x in loop_list1:
    if isinstance(x, float):
        new_list.append(int(x))
    elif isinstance(x, int):
        new_list.append(float(x))
    else:
       new_list.append(x)

loop_list1 = new_list
print(loop_list1)
assert loop_list1 == [1101.0, 704, 'Fort Mill']

[1101.0, 704, 'Fort Mill']

In [ ]:
# use while loop

loop_list2 = [1101, 704.971, 'Fort Mill']

new_list = []
index = 0

while index < len(loop_list2):
    x = loop_list2[index]
    if isinstance(x, float):
      new_list.append(int(x))
    elif isinstance(x, int):
      new_list.append(float(x))
    else :
      new_list.append(x)
    index += 1

loop_list2 = new_list
print(loop_list2)
assert loop_list2 == [1101.0, 704, 'Fort Mill']

[1101.0, 704, 'Fort Mill']

## Tuples

In [ ]:
### 1. Fill the ___ parts of code below

# create a tuple with items of different data types
my_tuple = ("apple", 35, False, 72.4)
print(my_tuple, type(my_tuple))

# Unpack my_tuple in several variables
a, b, c, d= my_tuple

# convert my_tuple to list and assign to variable my_list
my_list = list(my_tuple)
print(my_list, type(my_list))

# convert my_list to tuple and assign to variable my_new_tuple
my_new_tuple = tuple(my_list)
print(my_new_tuple, type(my_new_tuple))

('apple', 35, False, 72.4) <class 'tuple'>
['apple', 35, False, 72.4] <class 'list'>
('apple', 35, False, 72.4) <class 'tuple'>

In [ ]:
#Check the immutable property of tuple

my_new_tuple[0] = 5

TypeError: ignored

In [3]:
# TODO
rv_tuple = 1101, 'Red', 'Ventures', 'Drive'
print(rv_tuple, type(rv_tuple))
# check id
print(id(rv_tuple))
# modify the variable
rv_tuple = rv_tuple + (29707, )
print(rv_tuple, type(rv_tuple))
# check id
print(id(rv_tuple))

# Do the same exercises as above for a list and see the difference
# Remember list is mutable
rv_list = [1101, 'Red', 'Ventures', 'Drive']
print(rv_list)
print(id(rv_list))
rv_list.append(28707)
print(rv_list)
print(id(rv_list))

(1101, 'Red', 'Ventures', 'Drive') <class 'tuple'>
132526313104032
(1101, 'Red', 'Ventures', 'Drive', 29707) <class 'tuple'>
132526022107568
[1101, 'Red', 'Ventures', 'Drive']
132526022119424
[1101, 'Red', 'Ventures', 'Drive', 28707]
132526022119424

In [ ]:
# Write a function that accepts a string and return the number of uppercase letters and lowercase letters.
def check_case(Input):
  Status_input = Input
  lowercase_number=0
  uppercase_number=0
  for x in Status_input:
        if(x.islower()):
              lowercase_number+=1
        if(x.isupper()):
              uppercase_number+=1
  return uppercase_number,lowercase_number

my_string = "This is Week3 Python Programming Homework."
assert check_case(my_string)[0] == 5
assert check_case(my_string)[1] == 30

## Dictionary

In [ ]:
#Fill the ___ parts of code below
# create an empty dictionary
my_dict = {}
print(my_dict, type(my_dict))

# create a dictionary with values
my_dict = {"brand": "Ford",
  "model": "Mustang",
  "year": 1964}
print(my_dict, type(my_dict))

# add key/value to my_dict
my_dict['sold'] = 3000
print(my_dict)

# remove the key you added from my_dict
del my_dict['sold']
print(my_dict)

{} <class 'dict'>
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964} <class 'dict'>
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'sold': 3000}
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
#Print out key/value pair by the ascending order of keys.
location_dict = {'Charlotte': 'NC', 'Austin': 'TX', 'New York': 'NY', 'Los Angeles': 'CA'}
location_dict = dict(sorted(location_dict.items()))
print(location_dict)

#Display the location_dict by the descending order of values.
location_dict = {'Charlotte': 'NC', 'Austin': 'TX', 'New York': 'NY', 'Los Angeles': 'CA'}
def sort_by_value(item):
  return item[1]

location_dict = dict(sorted(list(location_dict.items()),key=sort_by_value, reverse=True))
print(location_dict)

{'Austin': 'TX', 'Charlotte': 'NC', 'Los Angeles': 'CA', 'New York': 'NY'}
{'Austin': 'TX', 'New York': 'NY', 'Charlotte': 'NC', 'Los Angeles': 'CA'}

## Set

In [17]:
 #TODO SETs
# create an set
my_set = set()
print(my_set, type(my_set), '\n')

# create a set with values
my_set = {"abc", 34, True, 40, "male"}
print(my_set, type(my_set), '\n')

# add a new value to my_set
# the value should be a different
my_set.add("orange")
print(my_set, '\n')


# remove the value you added from my_set
my_set.remove("orange")
print(my_set, '\n')

set() <class 'set'>

{True, 34, 'abc', 'male', 40} <class 'set'>

{True, 34, 'abc', 'male', 'orange', 40}

{True, 34, 'abc', 'male', 40}

In [13]:
#Use a list  with duplicated values and a tuple to create two sets respectively, and get a union set between those two.

mylist = ['Yellow', 'Red', 'Blue', 'Blue']
print(mylist, type(mylist))

mytuple = 1, 2, '3', 'Blue', '3'
print(mytuple, type(mytuple))

mysetfromlist = set(mylist)
mysetfromtuple = set(mytuple)

mysetfromlist - set(mylist)
print(mysetfromlist, type(mysetfromlist))
print(mysetfromtuple, type(mysetfromtuple))

unionset = mysetfromlist.union(mysetfromtuple)
print(unionset, type(unionset))

['Yellow', 'Red', 'Blue', 'Blue'] <class 'list'>
(1, 2, '3', 'Blue', '3') <class 'tuple'>
{'Yellow', 'Blue', 'Red'} <class 'set'>
{1, 2, '3', 'Blue'} <class 'set'>
{1, 2, 'Yellow', 'Blue', '3', 'Red'} <class 'set'>

In [18]:
#Create two sets `my_set1` and `my_set2`, and get values in `my_set1` but not in `my_set2`.

my_set1 = set()
my_set2 = {"hello"}

my_set1.add("get values in")
my_set2.clear()

print(my_set1, type(my_set1))
print(my_set2, type(my_set2))

{'get values in'} <class 'set'>
set() <class 'set'>

## DataFrames

In [21]:
# Download the CSV from the above url.
# This csv is separated by a ';' so we need to add that as a parameter to the read_csv method.
import pandas as pd
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv'
df = pd.read_csv(url, sep=';')

In [26]:
#Show the first 6 rows of the `df` dataframe
df.loc[:5]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
5,7.4,0.66,0.00,1.8,0.075,13.0,40.0,0.9978,3.51,0.56,9.4,5

In [30]:
#Print out the summary statistics for each dataframe column
df.info(verbose=None, buf=None, max_cols=None, memory_usage=None, show_counts=None)
print(df.describe(include='all'))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB
       fixed acidity  volatile acidity  citric acid  residual sugar  \
count    1599.000000       1599.000000  1599.000000     1599.000000
mean        8.319637          0.527821     0.270976        2.538806
std         1.741096          0.179060     0.194801        1.409928
min         4.600000          0.120000     0.000000        0.900000
25%         7.100000          0.390000     0.090000        1.900000
50%         7.900000          0.520000     0.260000        2.200000
75%         9.200000          0.640000     0.420000        2.600000
max        15.900000          1.580000     1.000000       15.500000

         chlorides  free sulfur dioxide  total sulfur dioxide      density  \
count  1599.000000          1599.000000           1599.000000  1599.000000
mean      0.087467            15.874922             46.467792     0.996747
std       0.047065            10.460157             32.895324     0.001887
min       0.012000             1.000000              6.000000     0.990070
25%       0.070000             7.000000             22.000000     0.995600
50%       0.079000            14.000000             38.000000     0.996750
75%       0.090000            21.000000             62.000000     0.997835
max       0.611000            72.000000            289.000000     1.003690

                pH    sulphates      alcohol      quality
count  1599.000000  1599.000000  1599.000000  1599.000000
mean      3.311113     0.658149    10.422983     5.636023
std       0.154386     0.169507     1.065668     0.807569
min       2.740000     0.330000     8.400000     3.000000
25%       3.210000     0.550000     9.500000     5.000000
50%       3.310000     0.620000    10.200000     6.000000
75%       3.400000     0.730000    11.100000     6.000000
max       4.010000     2.000000    14.900000     8.000000